<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bulbulproject.bulbul">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/logo_bulbul_wt"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".activity.LoginActivity"
            android:label="Bulbul">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.spotify.sdk.android.authentication.LoginActivity"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            tools:replace="android:launchMode" />
        <activity
            android:name=".activity.SpotifyConnectionActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".activity.RegisterActivity"
            android:label="@string/action_register" />
        <activity
            android:name=".activity.MyProfile"
            android:label="@string/title_activity_my_profile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.Followers" />
        <activity android:name=".activity.Followings" />
        <activity
            android:name=".activity.MyAlbumArtistPlaylistActivity"
            android:label="@string/title_activity_my_profile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.StreamActivity"
            android:label="@string/app_name" />

        <service
            android:name=".service.PlayerService"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name=".activity.AlbumActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.ArtistActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.PlaylistActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.AccuracyTraining"
            android:label="@string/title_activity_accuracy_training"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.AccuracyTest"
            android:label="@string/title_activity_accuracy_test"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.AccuracyResult"
            android:label="@string/title_activity_accuracy_result"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.MoodActivity" android:label="Mood Activity" />
        <activity android:name=".activity.MoodActivityResult" android:label="Mood Activity Result"></activity>
    </application>

</manifest>